.App {
  text-align: center;
}

.nav {

}

.nav li {
  display: inline;
}

.nav li div {
  display: inline;
}

.nav .active {
  text-decoration: underline;
}


.nav a {
  text-decoration: none;
}

.nav a:hover {
  text-decoration: underline;
}

.changingHexagramContainer {
  display: flex; 
  flex-direction: row;
}

.hexagramTransitionContainer {
  display: flex; 
  flex-direction: row;
}

.hexagramTransitionContainer-enter {
  opacity: 0.01;
}

.hexagramTransitionContainer-enter.hexagramTransitionContainer-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.hexagramTransitionContainer-leave {
  opacity: 1;
}

.hexagramTransitionContainer-leave.hexagramTransitionContainer-leave-active {
  opacity: 0.01;
  transition: opacity 1000ms ease-in;
}
